@inherits GdsWithContent

@* <summary>
    The accordion component lets users show and hide sections of related content on a page.
</summary> *@

<div id=@Id
     class="govuk-accordion @Classes" 
     data-module="govuk-accordion" 
     @attributes=@Attributes
>
    ﻿<CascadingValue Value=this>
        @ChildContent
    </CascadingValue>
</div>

@code {
    #region Cascading Value - Child Items
    private List<GdsAccordionItem> items = new List<GdsAccordionItem>();

    internal void AddItem(GdsAccordionItem item)
    {
        item.Index = items.Count + 1;
        items.Add(item);
        StateHasChanged();
    }
    #endregion
}
