@inherits GdsWithContent

@* <summary>
    The button menu is a versatile component that allows users to view tasks as buttons in a collapsible menu.
</summary> *@

<div class="moj-button-menu"
     data-testid=@DataTestId
     data-module="moj-button-menu"
     data-button-text=@MenuTitle
     data-button-classes=@(string.IsNullOrEmpty(Classes) ? null : Classes)
     data-align-menu=@(RightAlignMenu ? "right" : null )
     @attributes=@Attributes
>
    @ChildContent
</div>

@code {
    #region Public Parameters
    /// <summary>
    /// Text for the menu title button.
    /// </summary>
    [Parameter]
    public string? MenuTitle { get; set; }

    /// <summary>
    /// Identifies that menu items should be right aligned
    /// </summary>
    [Parameter]
    public bool RightAlignMenu { get; set; }
    #endregion
}