@inherits GdsWithHref

@* <summary>
    The breadcrumb link component must be used as a child of breadcrumbs.
</summary> *@

@if (string.IsNullOrEmpty(Href))
{
    @ChildContent
} else {
    <a id=@Id
       class="govuk-breadcrumbs__link @Classes"
       href=@Href
       @attributes="@Attributes"
    >
        @ChildContent
    </a>
}

@code {
    /// <summary>
    /// If fase, we don't call "AddLink()" on parent
    /// </summary>
    [Parameter]
    public bool Register { get; set; } = true;

    protected override void OnInitialized()
    {
        if (Parent == null)
            throw new ArgumentNullException(nameof(Parent), "GdsBreadcrumbLink must exist within a GdsBreadcrumb");

        base.OnInitialized();
        if(Register)
            Parent.AddLink(this);
    }

    [CascadingParameter]
    private GdsBreadcrumbs Parent { get; set; }
}