@inherits GdsWithHref

@* <summary>
    The breadcrumb link component must be used as a child of breadcrumbs.
    The items within breadcrumbs.
</summary> *@

<li class="govuk-breadcrumbs__list-item" data-testid=@DataTestId>
    @if (string.IsNullOrEmpty(Href))
    {
        @ChildContent
    } else {
        <AnchorLink Classes=@classes Href=@Href Attributes=@Attributes>
            @ChildContent
        </AnchorLink>
    }
</li>

@code {
    #region Private Properties
    private string classes
    {
        get
        {
            var classBuilder = "govuk-breadcrumbs__link";
            if (!string.IsNullOrEmpty(Classes)) classBuilder += $" {Classes}";
            return classBuilder;
        }
    }
    #endregion

    #region Cascading Value - Parent
    protected override void OnInitialized()
    {
        if (Parent == null)
            throw new ArgumentNullException(nameof(Parent), "GdsBreadcrumbLink must exist within a GdsBreadcrumb");

        base.OnInitialized();
    }

    [CascadingParameter]
    private GdsBreadcrumbs? Parent { get; set; }
    #endregion
}