@inherits GdsWithContent;

@* <summary>
    The breadcrumbs component helps users to understand where they are within a website's structure and move between levels.
</summary> *@

﻿<CascadingValue Value="this">
    <nav id=@Id class="govuk-breadcrumbs 
         @Classes @(CollapseOnMobile ? "govuk-breadcrumbs--collapse-on-mobile" : "") 
         @(IsOnDarkBackground ? "govuk-breadcrumbs--inverse" : "") " 
         aria-label="Breadcrumb" 
         @attributes="@Attributes"
    >
        <ol class="govuk-breadcrumbs__list">
            @ChildContent
        </ol>
    </nav>
</CascadingValue>

@code {
    /// <summary>
    /// When true, the breadcrumbs will collapse to the first and last item only on tablet breakpoint and below.
    /// </summary>
    [Parameter]
    public bool CollapseOnMobile { get; set; }

    /// <summary>
    /// Indicates that the component is on a dark background and should utilise the inverse class
    /// </summary>
    [Parameter]
    public bool IsOnDarkBackground { get; set; }
}