@inherits GdsWithContent

<div class="govuk-checkboxes__divider @Classes"
     @attributes=@Attributes
>
    @ChildContent
</div>

@code {
    #region Public properties
    /// <summary>
    /// Set by the parent to identify this element's index
    /// </summary>
    public int Index { get; set; }
    #endregion

    #region Cascading Value - Parent
    protected override void OnInitialized()
    {
        if (Parent == null)
            throw new ArgumentNullException(nameof(Parent), "GdsCheckbox must exist within a GdsCheckboxes");

        Parent.Register(this);

        base.OnInitialized();
    }

    [CascadingParameter]
    private GdsCheckboxes? Parent { get; set; }
    #endregion
}
