@inherits GdsWithContent

<div class="govuk-checkboxes__item">
    <input id=@id
           class="govuk-checkboxes__input @Classes"
           name=@(Name ?? Parent?.Name)
           type="checkbox"
           value=@Value
           aria-describedby=@describedBy
           data-behaviour=@(IsExclusive ? "exclusive" : null)
           checked=@isChecked
           data-aria-controls=@conditionalId
           disabled=@Disabled
           @oninput=CheckboxChanged
           @attributes=@Attributes 
    />
    <label class="govuk-label govuk-checkboxes__label"
           for=@id
    >
        @if(Text != null)
            @Text
        else
            @ChildContent
    </label>
    @if (HintTemplate != null)
    {
        <CascadingValue Value=@hintId>
            @HintTemplate
        </CascadingValue>
    }
</div>
@if (ConditionalTemplate != null)
{
    <div id=@conditionalId
         class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
    >
        @ConditionalTemplate
    </div>
}

@code {
    #region Public Parameters
    /// <summary>
    /// Specific ID attribute for the checkbox item. If omitted,
    /// then component global idPrefix option will be applied.
    /// </summary>
    [Parameter]
    public string? Id { get; set; }

    /// <summary>
    /// Can be used to add a hint to the checkboxes component.
    /// </summary>
    [Parameter]
    public RenderFragment? HintTemplate { get; set; }

    /// <summary>
    /// 	Provide additional content to reveal when the checkbox is checked.
    /// </summary>
    [Parameter]
    public RenderFragment? ConditionalTemplate { get; set; }

    /// <summary>
    /// If set, implements a ‘None of these’ type behaviour via 
    /// JavaScript when checkboxes are clicked.
    /// </summary>
    [Parameter]
    public bool IsExclusive { get; set; } = false;

    /// <summary>
    /// Required. Value for the checkbox input.
    /// </summary>
    [Parameter]
    public string? Value { get; set; }

    /// <summary>
    /// Text to use within each checkbox item label.
    /// </summary>
    [Parameter]
    public string? Text { get; set; }

    /// <summary>
    /// Specific name for the checkbox item. If omitted, then component global
    /// name string will be applied.
    /// </summary>
    [Parameter]
    public string? Name { get; set; }

    /// <summary>
    /// One or more element IDs to add to the aria-describedby attribute, used to provide
    /// additional descriptive information for screenreader users.
    /// </summary>
    [Parameter]
    public string? DescribedBy { get; set; }

    /// <summary>
    /// If true, checkbox will be disabled.
    /// </summary>
    [Parameter]
    public bool? Disabled { get; set; }
    #endregion

    #region Public Properties
    /// <summary>
    /// Set by the parent to identify this element's index
    /// </summary>
    public int Index { get; set; }
    #endregion

    #region Event Handlers
    private Task CheckboxChanged(ChangeEventArgs e)
    {
        // get the checkbox state
        var value = bool.Parse(e.Value.ToString());

        return Parent.CheckboxChanged(value, Value);
    }
    #endregion

    #region Private Properties
    private string? id
    {
        get
        {
            var id = Id ?? Parent?.IdPrefix ?? Parent?.Name;
            if (Index == 1)
            {
                return id;
            }
            else
            {
                return id + "-" + Index;
            }
        }
    }

    private string? describedBy
    {
        get
        {
            var fullText = DescribedBy ?? "";
            if (HintTemplate != null) fullText += $" {id}-item-hint";
            return string.IsNullOrWhiteSpace(fullText) ? null : fullText.Trim();
        }
    }

    private string? conditionalId
    {
        get
        {
            if (ConditionalTemplate == null) return null;

            return $"conditional-{id}";
        }
    }

    private string hintId
    {
        get
        {
            return id + "-item";
        }
    }

    private bool isChecked
    {
        get
        {
            if (Parent == null || Parent.Values == null || Value == null) 
                return false;

            return Parent.Values.Contains(Value);
        }
    }
    #endregion

    #region Cascading Value - Parent
    protected override void OnInitialized()
    {
        if (Parent == null)
            throw new ArgumentNullException(nameof(Parent), "GdsCheckbox must exist within a GdsCheckboxes");

        Parent.Register(this);

        base.OnInitialized();
    }

    [CascadingParameter]
    private GdsCheckboxes? Parent { get; set; }
    #endregion
}
