@inherits GdsWithContent

@* <summary>
    The caption component allws you to make it clear that a page is part of a larger section or group.
    To do this, you can use a heading with a caption above it.
</summary> *@

<span id=@Id
      class="@Classes"
>
    @ChildContent
</span>

@code {
}
