@inherits Models.GdsErrorMessageModel

<p id="@Id" class="govuk-error-message @Classes" @attributes="@Attributes">
    <span class="govuk-visually-hidden">@(string.IsNullOrEmpty(VisuallyHiddenText) ? "Error" : VisuallyHiddenText):</span>
    @ChildContent
</p>
