@inherits GdsWithContent

<div id="@Id" class="govuk-hint @Classes.Trim()" @attributes="@Attributes">
    @ChildContent
</div>

@code {
    /// <summary>
    /// Whether the label also acts as the heading for the page.
    /// </summary>
    [Parameter]
    public bool IsPageHeading { get; set; }

    [CascadingParameter]
    public string? ParentId { get; set; }

    [Parameter]
    public string? OverrideId{ get; set; }

    /// <summary>
    /// The calculated id of the element
    /// This is based on the cascaded Parent Id value
    /// </summary>
    public new string Id
    {
        get
        {
            if (string.IsNullOrEmpty(OverrideId))
                return ParentId + "-hint";
            return OverrideId;
        }
        set
        {
            OverrideId = value;
        }
    }

    protected override void OnInitialized()
    {
        if (ParentId == null && OverrideId == null)
            throw new ArgumentNullException(nameof(ParentId), "GdsHint must exist within a valid control, or an Id must be supplied");

        base.OnInitialized();
    }
}