@inherits GdsWithContent

@* <summary>
    Use the inset text component to differentiate a block of text from
    the content that surrounds it.
</summary> *@

<div id=@Id 
     class="govuk-inset-text @Classes"
     @attributes=@Attributes
>
    @ChildContent
</div>
