@inherits GdsWithContent

<legend class="govuk-fieldset__legend @Classes"
        @attributes=@Attributes
>
    @if (IsPageHeading)
    {
        <h1 class="govuk-fieldset__heading">
            @ChildContent
        </h1>
    }
    else
    {
        @ChildContent
    }
</legend>

@code {
    #region Public Parameters
    /// <summary>
    /// Whether the legend also acts as the heading for the page.
    /// </summary>
    [Parameter]
    public bool IsPageHeading { get; set; }
    #endregion
}
