@inherits GdsWithContent

@* <summary>
    Use the phase banner component to show users your service is still 
    being worked on.
</summary> *@

<div class="govuk-phase-banner @Classes" 
     data-testid=@DataTestId
     @attributes=@Attributes>
    <p class="govuk-phase-banner__content">
        @if (TagTemplate != null)
        {
            <CascadingValue Value=this>
                @TagTemplate
            </CascadingValue>
        }
        else
        {
            <strong class="govuk-tag govuk-phase-banner__content__tag">
            </strong>
        }
        <span class="govuk-phase-banner__text">
            @ChildContent
        </span>
    </p>
</div>

@code {
    #region Public Parameters
    /// <summary>
    /// Required. The tag used by the phase banner component.
    /// </summary>
    [Parameter]
    public RenderFragment? TagTemplate { get; set; }
    #endregion
}
