@inherits GdsWithHref

<li class="moj-sub-navigation__item @Classes" @attributes=@Attributes>
    <AnchorLink Classes="moj-sub-navigation__link"
        href=@Href 
        Attributes=@linkAttributes
    >
        @ChildContent
    </AnchorLink>
</li>

@code {
    #region Public Parameters
    /// <summary>
    /// Flag to mark the navigation item as active or not.
    /// Defaults to false.
    /// </summary>
    [Parameter]
    public bool? Active { get; set; }
    #endregion

    #region Private Properties
    private Dictionary<string, object> linkAttributes
    {
        get
        {
            var attributes = new Dictionary<string, object>();
            if(Active ?? false) attributes.Add("aria-current", "page");
            return attributes;
        }
    }
    #endregion

    #region Cascading Value - Parent
    protected override void OnInitialized()
    {
        if (Parent == null)
            throw new ArgumentNullException(nameof(Parent), "GdsSubNavigationItem must exist within a GdsSubNavigation");

        base.OnInitialized();
    }

    [CascadingParameter]
    private GdsSubNavigation? Parent { get; set; }
    #endregion
}
