@inherits GdsViewModel

@* <summary>
    Use the text input component when you need to let users enter text that’s no 
    longer than a single line, such as their name or phone number.
</summary> *@

<div class="govuk-form-group @(ErrorMessageTemplate != null ? "govuk-form-group--error" : "") @FormGroupClasses">
    @if (LabelTemplate != null)
    {
        <CascadingValue Value=@Id>
            @LabelTemplate
        </CascadingValue>
    }
    @if (HintTemplate != null)
    {
        <CascadingValue Value=@Id>
            @HintTemplate
        </CascadingValue>
    }
    @if (ErrorMessageTemplate != null)
    {
        <CascadingValue Value=@Id>
            @ErrorMessageTemplate
        </CascadingValue>
    }

    @if (PrefixTemplate != null || SuffixTemplate != null)
    {
        <div class="govuk-input__wrapper">
            @if (PrefixTemplate != null)
            {
                @PrefixTemplate
            }

            <input id=@Id
                   class="govuk-input @Classes @(ErrorMessageTemplate != null ? "govuk-input--error" : "")" 
                   name=@Name
                   type=@(Type ?? "text")
                   spellcheck=@Spellcheck?.ToString().ToLower()
                   aria-describedby=@describedBy?.Trim()
                   autocomplete=@Autocomplete
                   pattern=@Pattern
                   inputmode=@Inputmode
                   value=@Value
                   @oninput=OnValueChanged
                   @attributes=@Attributes
            />

            @if (SuffixTemplate != null)
            {
                @SuffixTemplate
            }
        </div>
    }
    else
    {
        <input id=@Id
               class="govuk-input @Classes @(ErrorMessageTemplate != null ? "govuk-input--error" : "")" 
               name=@Name
               type=@(Type ?? "text")
               spellcheck=@spellcheck
               aria-describedby=@describedBy?.Trim()
               autocomplete=@Autocomplete
               pattern=@Pattern
               inputmode=@Inputmode
               value=@Value
               @oninput=OnValueChanged
               @attributes=@Attributes
        />
    }
</div>

@code {
    #region Public Parameters
    [Parameter]
    public RenderFragment? LabelTemplate { get; set; }

    [Parameter]
    public RenderFragment? HintTemplate { get; set; }

    [Parameter]
    public RenderFragment? ErrorMessageTemplate { get; set; }

    [Parameter]
    public RenderFragment? PrefixTemplate { get; set; }

    [Parameter]
    public RenderFragment? SuffixTemplate { get; set; }

    /// <summary>
    /// The name of the input, which is submitted with the form data.
    /// </summary>
    [Parameter]
    public string? Name { get; set; }

    /// <summary>
    /// Type of input control to render, for example, a password input control.
    /// </summary>
    [Parameter]
    public string? Type { get; set; }

    [Parameter]
    public string? Value { get; set; }

    /// <summary>
    /// none, text, decimal, numeric, tel, search, email, url
    /// </summary>
    [Parameter]
    public string? Inputmode { get; set; }

    /// <summary>
    /// Classes to add to the form group (for example to show error state for the whole group).
    /// </summary>
    [Parameter]
    public string? FormGroupClasses { get; set; }

    /// <summary>
    /// Attribute to identify input purpose, for instance "postal-code" or "username".
    /// </summary>
    [Parameter]
    public string? Autocomplete { get; set; }

    /// <summary>
    /// Attribute to provide a regular expression pattern, used to match allowed character combinations 
    // for the input value.
    /// </summary>
    [Parameter]
    public string? Pattern { get; set; }

    /// <summary>
    /// Optional field to enable or disable the spellcheck attribute on the input.
    /// </summary>
    [Parameter]
    public bool? Spellcheck { get; set; }
    #endregion

    #region Event Handlers
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    protected Task OnValueChanged(ChangeEventArgs e)
    {
        Value = e.Value.ToString();

        return ValueChanged.InvokeAsync(Value);
    }
    #endregion

    #region Private Properties
    private string? spellcheck
    {
        get
        {
            if (Spellcheck != null)
                return Spellcheck?.ToString().ToLower();

            if (Inputmode == "numeric")
                return false.ToString().ToLower();

            return Spellcheck?.ToString().ToLower();
        }
    }


    private string? describedBy
    {
        get
        {
            var fullText = "";
            if (HintTemplate != null) fullText += $" {Id}-hint";
            if (ErrorMessageTemplate != null) fullText += $" {Id}-error";
            return string.IsNullOrWhiteSpace(fullText) ? null : fullText;
        }
    }
    #endregion
}