@inherits GdsWithHref
@inject NavigationManager navigationManager

<a id=@Id
   class=@Classes
   href=@Href
   data-testid=@DataTestId
   @attributes=@Attributes
>
	@ChildContent
</a>

@code {
	#region Public Parameters 
	[Parameter]
	public string? Id { get; set; }
	#endregion

	#region Parameter Validation / Event Overriding
	protected override void OnParametersSet()
	{
		if (!string.IsNullOrEmpty(Href) && Href.StartsWith("#"))
		{
			var navUri = new Uri(navigationManager.Uri, UriKind.RelativeOrAbsolute);
			string uriString = navUri.IsAbsoluteUri ? navUri.PathAndQuery : navigationManager.Uri;

			var uri = uriString.Replace(Href, string.Empty);

			Href = $"{uri}{Href}";
		}

		base.OnParametersSet();
	}
	#endregion
}
