@inherits GdsWithHref
@inject NavigationManager navigationManager

<a id=@Id
   class=@Classes
   href=@Href
   data-testid=@DataTestId
   @attributes=@Attributes
>
	@ChildContent
</a>

@code {
	#region Public Parameters 
	[Parameter]
	public string? Id { get; set; }
	#endregion

	#region Parameter Validation / Event Overriding
	protected override void OnParametersSet()
	{
		if (!string.IsNullOrEmpty(Href) && Href.StartsWith("#"))
		{
			var uri = navigationManager.Uri
				.Replace(Href, string.Empty)
				.Replace("http://localhost/", string.Empty);

			Href = $"{uri}{Href}";
		}

		base.OnParametersSet();
	}
	#endregion
}
