@page "/Components/BackLink"
@layout _ComponentsLayout

<PageTitle>Back link</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Back link</h1>

<p class="govuk-body">
    A blazor implementation of the GDS <a href="https://design-system.service.gov.uk/components/back-link/" class="govuk-link">Back link</a>.
</p>

<Example CodeExampleContent="@(@"<GdsBackLink href=""/Components/BackLink""></GdsBackLink>")">
    <GdsBackLink Href="/Components/BackLink"></GdsBackLink>
</Example>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

<Example CodeExampleContent="@(@"<GdsBackLink href=""/Components/BackLink""></GdsBackLink>")">
    <GdsBackLink Href="/Components/BackLink"></GdsBackLink>
</Example>

<h3 class="govuk-heading-m" id="dark-backgrounds">Back links on dark backgrounds</h3>

<Example CodeExampleContent="@(@"<GdsBackLink href=""/Components/BackLink"" IsOnDarkBackground=@true></GdsBackLink>")" Classes="dark-background">
    <GdsBackLink Href="/Components/BackLink" IsOnDarkBackground=@true></GdsBackLink>
</Example>
