@page "/Components/ButtonMenu"
@layout _ComponentsLayout

<PageTitle>Button menu</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Button menu</h1>

<p class="govuk-body">
    A blazor implementation of the MoJ GDS <a href="https://design-patterns.service.justice.gov.uk/components/button-menu/" class="govuk-link">Button menu</a>.
</p>

<Example BlazorExampleContent="@(@"<GdsButtonMenu MenuTitle=""Menu title"">
        <GdsButtonMenuItem Type=""submit"">Menu item 1</GdsButtonMenuItem>
        <GdsButtonMenuItem Type=""submit"">Menu item 2</GdsButtonMenuItem>
        <GdsButtonMenuItem Type=""submit"" Classes=@GdsButtonClasses.Secondary>Menu item 4</GdsButtonMenuItem>
        <GdsButtonMenuItem Type=""submit"" Classes=@GdsButtonClasses.Secondary>Menu item 3</GdsButtonMenuItem>
</GdsButtonMenu>")">
    <GdsButtonMenu MenuTitle="Menu title">
        <GdsButtonMenuItem Type="submit">Menu item 1</GdsButtonMenuItem>
        <GdsButtonMenuItem Type="submit">Menu item 2</GdsButtonMenuItem>
        <GdsButtonMenuItem Type="submit" Classes=@GdsButtonClasses.Secondary>Menu item 4</GdsButtonMenuItem>
        <GdsButtonMenuItem Type="submit" Classes=@GdsButtonClasses.Secondary>Menu item 3</GdsButtonMenuItem>
    </GdsButtonMenu>
</Example>

<h2 class="govuk-heading-l" id="how-to-use">How to use</h2>

<h3 class="govuk-heading-m" id="left-aligned-menu-items">Left-aligned menu items</h3>

<Example BlazorExampleContent="@(@"<GdsButtonMenu MenuTitle=""Review"" Classes=@GdsButtonClasses.Secondary>
        <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary Href=""#"">Approve</GdsButtonMenuItem>
        <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary Href=""#"">Request more information</GdsButtonMenuItem>
        <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary Href=""#"">Reject with reason</GdsButtonMenuItem>
</GdsButtonMenu>")">
    <GdsButtonMenu MenuTitle="Review" Classes=@GdsButtonClasses.Secondary>
        <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary Href="#">Approve</GdsButtonMenuItem>
        <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary Href="#">Request more information</GdsButtonMenuItem>
        <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary Href="#">Reject with reason</GdsButtonMenuItem>
    </GdsButtonMenu>
</Example>

<h3 class="govuk-heading-m" id="right-aligned-menu-items">Right-aligned menu items</h3>
<Example BlazorExampleContent="@(@"<GdsButtonMenu MenuTitle=""Review"" Classes=@GdsButtonClasses.Secondary RightAlignMenu=@true>
        <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary Href=""#"">Approve</GdsButtonMenuItem>
        <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary Href=""#"">Request more information</GdsButtonMenuItem>
        <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary Href=""#"">Reject with reason</GdsButtonMenuItem>
</GdsButtonMenu>")">
    
    <GdsButtonMenu MenuTitle="Review" Classes=@GdsButtonClasses.Secondary RightAlignMenu>
        <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary Href="#">Approve</GdsButtonMenuItem>
        <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary Href="#">Request more information</GdsButtonMenuItem>
        <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary Href="#">Reject with reason</GdsButtonMenuItem>
    </GdsButtonMenu>
    
</Example>

<h3 class="govuk-heading-m" id="grouping buttons">Grouping buttons</h3>

<Example BlazorExampleContent="@(@"<div class=""moj-button-group moj-button-group--inline"">
    <GdsButton Type=""submit"">Accept booking</GdsButton>
    <GdsButtonMenu MenuTitle=""Review booking"" Classes=@GdsButtonClasses.Secondary>
            <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary>Approve</GdsButtonMenuItem>
            <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary>Request more information</GdsButtonMenuItem>
            <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary>Reject with reason</GdsButtonMenuItem>
    </GdsButtonMenu>
</div>")">
    <div class="moj-button-group moj-button-group--inline">
        <GdsButton Type="submit">Accept booking</GdsButton>
        <GdsButtonMenu MenuTitle="Review booking" Classes=@GdsButtonClasses.Secondary>
            <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary>Approve</GdsButtonMenuItem>
            <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary>Request more information</GdsButtonMenuItem>
            <GdsButtonMenuItem Classes=@GdsButtonClasses.Secondary>Reject with reason</GdsButtonMenuItem>
        </GdsButtonMenu>
    </div>
</Example>
@code {

}
