@page "/Components/ErrorMessage"
@layout _ComponentsLayout

<PageTitle>Error message</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Error message</h1>

<p class="govuk-body">
    A blazor implementation of the GDS <a href="https://design-system.service.gov.uk/components/error-message/" class="govuk-link">Error message</a>.
</p>

<!-- Example with DatePicker -->

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

<Example CodeExampleContent="@(@"<GdsErrorMessage VisuallyHiddenText=""Gwall:"">
    Rhowch eich enw llawn
</GdsErrorMessage>")">
</Example>

<h3 class="govuk-heading-m" id="legend">Legend</h3>

<!-- Example with Legend for Checkboxes -->

<h3 class="govuk-heading-m" id="label">Label</h3>

<Example CodeExampleContent="@(@"<GdsTextInput Id=""national-insurance-number""
              Name=""nationalInsuranceNumber"">
    <LabelTemplate>
        <GdsLabel For=""national-insurance-number"">
            National Insurance number
        </GdsLabel>
    </LabelTemplate>
    <HintTemplate>
        <GdsHint id=""national-insurance-number-hint"">It’s on your National Insurance card, benefit letter, payslip or P60 – for example, ‘QQ 12 34 56 C’</GdsHint>
    </HintTemplate>
    <ErrorMessageTemplate>
        <GdsErrorMessage Id=""national-insurance-number-error"">
            Enter a National Insurance number in the correct format
        </GdsErrorMessage>
    </ErrorMessageTemplate>
</GdsTextInput>")">
    <GdsTextInput Id="national-insurance-number"
                  Name="nationalInsuranceNumber">
        <LabelTemplate>
            <GdsLabel For="national-insurance-number">
                National Insurance number
            </GdsLabel>
        </LabelTemplate>
        <HintTemplate>
            <GdsHint id="national-insurance-number-hint">It’s on your National Insurance card, benefit letter, payslip or P60 – for example, ‘QQ 12 34 56 C’</GdsHint>
        </HintTemplate>
        <ErrorMessageTemplate>
            <GdsErrorMessage Id="national-insurance-number-error">
                Enter a National Insurance number in the correct format
            </GdsErrorMessage>
        </ErrorMessageTemplate>
    </GdsTextInput>
</Example>