@page "/Components/ExitThisPage"
@layout _ComponentsLayout

<PageTitle>Exit this page</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Exit this page</h1>

<p class="govuk-body">
    A blazor implementation of the GDS <a href="https://design-system.service.gov.uk/components/exit-this-page/" class="govuk-link">Exit this page</a>.
</p>

<Example BlazorExampleContent="@(@"<GdsExitThisPage Href=""https://www.bbc.co.uk/weather""></GdsExitThisPage>")">
    <GdsExitThisPage Href="https://www.bbc.co.uk/weather"></GdsExitThisPage>
</Example>

<h2 class="govuk-heading-l" id="adding-secondary-link">Adding the secondary link</h2>

<Example BlazorExampleContent="@(@"<GdsExitThisPage Href=""https://bbc.co.uk/weather/"" ButtonType=""GdsExitThisPageButtonType.SkipLink""></GdsExitThisPage>")">
    <GdsExitThisPage Href="https://bbc.co.uk/weather/" ButtonType="GdsExitThisPageButtonType.SkipLink"></GdsExitThisPage>
</Example>

@code {

}
