@page "/Components/Fieldset"
@layout _ComponentsLayout

<PageTitle>Fieldset</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Fieldset</h1>

<p class="govuk-body">
    A blazor implementation of the GDS <a href="https://design-system.service.gov.uk/components/fieldset/" class="govuk-link">Fieldset</a>.
</p>

<Example BlazorExampleContent="@(@"<GdsFieldset>
        <LegendTemplate>
            <GdsLegend Classes=@GdsLegendClasses.Large
                       IsPageHeading=@true
            >
                What is your address?
            </GdsLegend>
        </LegendTemplate>
        <ChildContent>
            <GdsTextInput Id=""address-line-1""
                          Name=""addressLine1""
                          Autocomplete=""address-line1"">
                <LabelTemplate>
                    <GdsLabel>Address line 1</GdsLabel>
                </LabelTemplate>
            </GdsTextInput>
            <GdsTextInput Id=""address-line-2""
                          Name=""addressLine2""
                          Autocomplete=""address-line2"">
                <LabelTemplate>
                    <GdsLabel>Address line 2 (optional)</GdsLabel>
                </LabelTemplate>
            </GdsTextInput>
            <GdsTextInput Id=""address-town""
                          Name=""addressTown""
                          Autocomplete=""address-level2""
                          Classes=@GdsLayoutWidthClasses.TwoThirds>
                <LabelTemplate>
                    <GdsLabel>Town or city</GdsLabel>
                </LabelTemplate>
            </GdsTextInput>
            <GdsTextInput Id=""address-postcode""
                          Name=""addressPostcode""
                          Autocomplete=""postal-code""
                          Classes=@TextInputWidth.Width10>
                <LabelTemplate>
                    <GdsLabel>Postcode</GdsLabel>
                </LabelTemplate>
            </GdsTextInput>
        </ChildContent>
    </GdsFieldset>")">
    <GdsFieldset>
        <LegendTemplate>
            <GdsLegend Classes=@GdsLegendClasses.Large
                       IsPageHeading=@true>
                What is your address?
            </GdsLegend>
        </LegendTemplate>
        <ChildContent>
            <GdsTextInput Id="address-line-1"
                          Name="addressLine1"
                          Autocomplete="address-line1">
                <LabelTemplate>
                    <GdsLabel>Address line 1</GdsLabel>
                </LabelTemplate>
            </GdsTextInput>
            <GdsTextInput Id="address-line-2"
                          Name="addressLine2"
                          Autocomplete="address-line2">
                <LabelTemplate>
                    <GdsLabel>Address line 2 (optional)</GdsLabel>
                </LabelTemplate>
            </GdsTextInput>
            <GdsTextInput Id="address-town"
                          Name="addressTown"
                          Autocomplete="address-level2"
                          Classes=@GdsLayoutWidthClasses.TwoThirds>
                <LabelTemplate>
                    <GdsLabel>Town or city</GdsLabel>
                </LabelTemplate>
            </GdsTextInput>
            <GdsTextInput Id="address-postcode"
                          Name="addressPostcode"
                          Autocomplete="postal-code"
                          Classes=@GdsTextInputClasses.Width10>
                <LabelTemplate>
                    <GdsLabel>Postcode</GdsLabel>
                </LabelTemplate>
            </GdsTextInput>
        </ChildContent>
    </GdsFieldset>
</Example>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

<Example BlazorExampleContent="@(@"<GdsFieldset>
        <LegendTemplate>
            <GdsLegend Classes=@GdsLegendClasses.Large
                       IsPageHeading=@true
            >
                Legend as page heading
            </GdsLegend>
        </LegendTemplate>
    </GdsFieldset>")">
    <GdsFieldset>
        <LegendTemplate>
            <GdsLegend Classes=@GdsLegendClasses.Large
                       IsPageHeading=@true>
                Legend as page heading
            </GdsLegend>
        </LegendTemplate>
    </GdsFieldset>
</Example>

@code {

}
