@page "/Components/"
@layout _ComponentsLayout

<PageTitle>Components</PageTitle>

<h1 class="govuk-heading-xl">Components</h1>

<p class="govuk-body">
    Components are reusable parts of a user interface. Using pre-built, core elements allows government teams to build consistent services.
</p>