@page "/Components/Input"

<PageTitle>Input</PageTitle>

<h1 class="govuk-heading-l">Input</h1>
<h2 class="govuk-heading-s">Default:</h2>
<div class="demo">
    <GdsInput></GdsInput>
</div>

<h2 class="govuk-heading-s">Customised:</h2>
<div class="demo">
    <GdsInput Id="event-name"
              Name="event-name"
              Classes="@GdsInputModel.Width.Width20">
              <LabelTemplate>
                  <GdsLabel For="event-name" Classes="@GdsLabelModel.Size.Large" IsPageHeading="true">What is the name of the event?</GdsLabel>
              </LabelTemplate>
              <HintTemplate>
                  <GdsHint>The event's name</GdsHint>
              </HintTemplate>
          </GdsInput>
</div>

<h2 class="govuk-heading-s">Error:</h2>
<div class="demo">
    <GdsInput Id="event-name-error"
              Name="event-name"
              Classes="@GdsInputModel.Width.Width20">
        <LabelTemplate>
            <GdsLabel For="event-name-error" Classes="@GdsLabelModel.Size.Large" IsPageHeading="true">What is the name of the event?</GdsLabel>
        </LabelTemplate>
        <HintTemplate>
            <GdsHint>The event's name</GdsHint>
        </HintTemplate>
        <ErrorMessageTemplate>
            <GdsErrorMessage Id="event-name-error">Must be at least 3 characters</GdsErrorMessage>
        </ErrorMessageTemplate>
    </GdsInput>
</div>