@page "/Components/InsetText"
@layout _ComponentsLayout

<PageTitle>Fieldset</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Inset text</h1>

<p class="govuk-body">
    A blazor implementation of the GDS <a href="https://design-system.service.gov.uk/components/inset-text/" class="govuk-link">Inset text</a>.
</p>

<Example CodeExampleContent="@(@"<GdsInsetText>
    It can take up to 8 weeks to register a lasting power of attorney if
    there are no mistakes in the application.
</GdsInsetText>")">
    <GdsInsetText>
        It can take up to 8 weeks to register a lasting power of attorney if
        there are no mistakes in the application.
    </GdsInsetText>
</Example>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

<Example CodeExampleContent="@(@"<GdsInsetText>
    It can take up to 8 weeks to register a lasting power of attorney if
    there are no mistakes in the application.
</GdsInsetText>")">
    <GdsInsetText>
        It can take up to 8 weeks to register a lasting power of attorney if
        there are no mistakes in the application.
    </GdsInsetText>
</Example>

@code {

}
