@page "/Components/MultiFileUpload"
@layout _ComponentsLayout

<PageTitle>Multi file upload</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Multi file upload</h1>

<p class="govuk-body">
    A blazor implementation of the MoJ GDS <a href="https://design-patterns.service.justice.gov.uk/components/multi-file-upload/" class="govuk-link">Multi file upload</a>.
</p>

<Example CodeExampleContent="@(@"")">
    <GdsMultiFileUpload />
</Example>