@page "/Components/PasswordInput"
@layout _ComponentsLayout

<PageTitle>Password input</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Password input</h1>

<p class="govuk-body">
    A blazor implementation of the GDS <a href="https://design-system.service.gov.uk/components/password-input/" class="govuk-link">Password input</a>.
</p>

<Example CodeExampleContent="@(@"<GdsPasswordInput Id=""password-input"" Name=""password"">
    <LabelTemplate>
        <GdsLabel>Password</GdsLabel>
    </LabelTemplate>
</GdsPasswordInput>")">
    <GdsPasswordInput Id="password-input" Name="password">
        <LabelTemplate>
            <GdsLabel>Password</GdsLabel>
        </LabelTemplate>
    </GdsPasswordInput>
</Example>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

<h3 class="govuk-heading-m" id="error-messages">Error messages</h3>

<Example CodeExampleContent="@(@"<GdsPasswordInput Id=""password-input"" Name=""password"">
    <LabelTemplate>
        <GdsLabel>Password</GdsLabel>
    </LabelTemplate>
    <ErrorMessageTemplate>
        <GdsErrorMessage>Enter a password</GdsErrorMessage>
    </ErrorMessageTemplate>
</GdsPasswordInput>")">
    <GdsPasswordInput Id="password-input" Name="password">
        <LabelTemplate>
            <GdsLabel>Password</GdsLabel>
        </LabelTemplate>
        <ErrorMessageTemplate>
            <GdsErrorMessage>Enter a password</GdsErrorMessage>
        </ErrorMessageTemplate>
    </GdsPasswordInput>
</Example>

@code {

}
