@page "/Components/ServiceNavigation"
@layout _ComponentsLayout

<PageTitle>Service navigation</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Service navigation</h1>

<p class="govuk-body">
    A blazor implementation of the GDS <a href="https://design-system.service.gov.uk/components/service-navigation/" class="govuk-link">Service navigation</a>.
</p>

<Example CodeExampleContent="@(@"<GdsServiceNavigation>
    <GdsServiceNavigationItem Href=""#"">
        Navigation item 1
        </GdsServiceNavigationItem>
    <GdsServiceNavigationItem Href=""#"" Active=@true>
        Navigation item 2
        </GdsServiceNavigationItem>
    <GdsServiceNavigationItem Href=""#"">
        Navigation item 3
        </GdsServiceNavigationItem>
</GdsServiceNavigation>")">
    <GdsServiceNavigation>
        <GdsServiceNavigationItem Href="#">
            Navigation item 1
            </GdsServiceNavigationItem>
        <GdsServiceNavigationItem Href="#" Active=@true>
            Navigation item 2
            </GdsServiceNavigationItem>
        <GdsServiceNavigationItem Href="#">
            Navigation item 3
            </GdsServiceNavigationItem>
    </GdsServiceNavigation>
</Example>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

<h3 class="govuk-heading-m" id="change-the-blue-colour-bar-under-the-govuk-header-to-full-width">Change the blue colour bar under the GOV.UK header to full width</h3>

<Example CodeExampleContent="@(@"<GdsServiceNavigation>
    <GdsServiceNavigationItem Href=""#"">
        Navigation item 1
        </GdsServiceNavigationItem>
    <GdsServiceNavigationItem Href=""#"" Active=@true>
        Navigation item 2
        </GdsServiceNavigationItem>
    <GdsServiceNavigationItem Href=""#"">
        Navigation item 3
        </GdsServiceNavigationItem>
</GdsServiceNavigation>")">
    @* TODO: Include Gov UK Heading *@
    <GdsServiceNavigation>
        <GdsServiceNavigationItem Href="#">
            Navigation item 1
        </GdsServiceNavigationItem>
        <GdsServiceNavigationItem Href="#" Active=@true>
            Navigation item 2
        </GdsServiceNavigationItem>
        <GdsServiceNavigationItem Href="#">
            Navigation item 3
        </GdsServiceNavigationItem>
    </GdsServiceNavigation>
</Example>

<h3 class="govuk-heading-m" id="showing-your-service-name-only">Showing your service name only</h3>

<Example CodeExampleContent="@(@"<GdsServiceNavigation ServiceName=""Service name"" ServiceUrl=""#"" />")">
    <GdsServiceNavigation ServiceName="Service name" ServiceUrl="#" />
</Example>

<h3 class="govuk-heading-m" id="showing-service-name-and-navigation-links">Showing service name and navigation links</h3>

<Example CodeExampleContent="@(@"<GdsServiceNavigation ServiceName=""Service name"" ServiceUrl=""#"">
    <GdsServiceNavigationItem Href=""#"">
        Navigation item 1
    </GdsServiceNavigationItem>
    <GdsServiceNavigationItem Href=""#"" Active=@true>
        Navigation item 2
    </GdsServiceNavigationItem>
    <GdsServiceNavigationItem Href=""#"">
        Navigation item 3
    </GdsServiceNavigationItem>
</GdsServiceNavigation>")">
    <GdsServiceNavigation ServiceName="Service name" ServiceUrl="#">
        <GdsServiceNavigationItem Href="#">
            Navigation item 1
        </GdsServiceNavigationItem>
        <GdsServiceNavigationItem Href="#" Active=@true>
            Navigation item 2
        </GdsServiceNavigationItem>
        <GdsServiceNavigationItem Href="#">
            Navigation item 3
        </GdsServiceNavigationItem>
    </GdsServiceNavigation>
</Example>

@code {

}
