@page "/Components/SkipLink"
@layout _ComponentsLayout

<PageTitle>Skip link</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Skip link</h1>

<p class="govuk-body">
    A blazor implementation of the GDS <a href="https://design-system.service.gov.uk/components/skip-link/" class="govuk-link">Skip link</a>.
</p>

<Example BlazorExampleContent="@(@"<p class=""govuk-body"">To view the skip link component tab to this example, or click inside this example and press tab.</p>
<GdsSkipLink Href=""#"">Skip to main content</GdsSkipLink>")">
    <p class="govuk-body">To view the skip link component tab to this example, or click inside this example and press tab.</p>
    <GdsSkipLink Href="#">Skip to main content</GdsSkipLink>
</Example>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

<Example BlazorExampleContent="@(@"<p class=""govuk-body"">To view the skip link component tab to this example, or click inside this example and press tab.</p>
<GdsSkipLink Href=""#"">Skip to main content</GdsSkipLink>")">
    <p class="govuk-body">To view the skip link component tab to this example, or click inside this example and press tab.</p>
    <GdsSkipLink Href="#">Skip to main content</GdsSkipLink>
</Example>

@code {

}
