@page "/Components/SummaryList"
@layout _ComponentsLayout

<PageTitle>Summary list</PageTitle>

<span class="govuk-caption-xl">Components</span>
<h1 class="govuk-heading-xl">Summary list</h1>

<p class="govuk-body">
    A blazor implementation of the GDS <a href="https://design-system.service.gov.uk/components/summary-list/" class="govuk-link">Summary list</a>.
</p>

<Example CodeExampleContent="@(@"<GdsSummaryList>
    <GdsSummaryListRow>
        <KeyTemplate>
            Name
        </KeyTemplate>
        <ValueTemplate>
            Sarah Philips
        </ValueTemplate>
        <ActionsTemplate>
            <GdsSummaryListRowAction Href=""#"" VisuallyHiddenText=""name"">Change</GdsSummaryListRowAction>
        </ActionsTemplate>
    </GdsSummaryListRow>

    <GdsSummaryListRow>
        <KeyTemplate>
            Date of birth
        </KeyTemplate>
        <ValueTemplate>
            5 January 1978
        </ValueTemplate>
        <ActionsTemplate>
            <GdsSummaryListRowAction Href=""#"" VisuallyHiddenText=""date of birth"">Change</GdsSummaryListRowAction>
        </ActionsTemplate>
    </GdsSummaryListRow>

    <GdsSummaryListRow>
        <KeyTemplate>
            Address
        </KeyTemplate>
        <ValueTemplate>
            72 Guild Street<br>London<br>SE23 6FH
        </ValueTemplate>
        <ActionsTemplate>
            <GdsSummaryListRowAction Href=""#"" VisuallyHiddenText=""address"">Change</GdsSummaryListRowAction>
        </ActionsTemplate>
    </GdsSummaryListRow>

    <GdsSummaryListRow HasMultipleActions=@true>
        <KeyTemplate>
            Contact details
        </KeyTemplate>
        <ValueTemplate>
            <p class=""govuk-body"">07700 900457</p><p class=""govuk-body"">sarah.phillips@example.com</p>
        </ValueTemplate>
        <ActionsTemplate>
            <GdsSummaryListRowAction Href=""#"" VisuallyHiddenText=""contact details"">Add</GdsSummaryListRowAction>
            <GdsSummaryListRowAction Href=""#"" VisuallyHiddenText=""contact details"">Change</GdsSummaryListRowAction>
        </ActionsTemplate>
    </GdsSummaryListRow>
</GdsSummaryList>")">
    <GdsSummaryList>
        <GdsSummaryListRow>
            <KeyTemplate>
                Name
            </KeyTemplate>
            <ValueTemplate>
                Sarah Philips
            </ValueTemplate>
            <ActionsTemplate>
                <GdsSummaryListRowAction Href="#" VisuallyHiddenText="name">Change</GdsSummaryListRowAction>
            </ActionsTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow>
            <KeyTemplate>
                Date of birth
            </KeyTemplate>
            <ValueTemplate>
                5 January 1978
            </ValueTemplate>
            <ActionsTemplate>
                <GdsSummaryListRowAction Href="#" VisuallyHiddenText="date of birth">Change</GdsSummaryListRowAction>
            </ActionsTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow>
            <KeyTemplate>
                Address
            </KeyTemplate>
            <ValueTemplate>
                72 Guild Street<br>London<br>SE23 6FH
            </ValueTemplate>
            <ActionsTemplate>
                <GdsSummaryListRowAction Href="#" VisuallyHiddenText="address">Change</GdsSummaryListRowAction>
            </ActionsTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow HasMultipleActions=@true>
            <KeyTemplate>
                Contact details
            </KeyTemplate>
            <ValueTemplate>
                <p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>
            </ValueTemplate>
            <ActionsTemplate>
                <GdsSummaryListRowAction Href="#" VisuallyHiddenText="contact details">Add</GdsSummaryListRowAction>
                <GdsSummaryListRowAction Href="#" VisuallyHiddenText="contact details">Change</GdsSummaryListRowAction>
            </ActionsTemplate>
        </GdsSummaryListRow>
    </GdsSummaryList>
</Example>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>


@code {

}
