@inherits BunitContext

@code {
	[Fact]
	public void OutputsBackLink()
	{
		// Arrange
		var id = "hello-world";
		var component = Render(@<GdsBackLink Href="#" Id=@id></GdsBackLink>);

		// Assert that content of the paragraph shows counter at zero
		component.MarkupMatches(
			@<a id=@id href="#" class="govuk-back-link">
				Back
			</a>
		);
	}

	[Fact]
	public void OutputsBackLinkWithHref()
	{
		// Arrange
		var id = "hello-world";
		var href = "/page/";
		var component = Render(@<GdsBackLink Id=@id Href=@href></GdsBackLink>);

		// Assert that content of the paragraph shows counter at zero
		component.MarkupMatches(
			@<a id=@id href=@href class="govuk-back-link">
				Back
			</a>
		);
	}
	[Fact]
	public void OutputsBackLinkWithContent()
	{
		// Arrange
		var id = "hello-world";
		var component = Render(@<GdsBackLink Href="#" Id=@id>Go Back</GdsBackLink>);

		// Assert that content of the paragraph shows counter at zero
		component.MarkupMatches(
			@<a id=@id href="#" class="govuk-back-link">
				Go Back
			</a>
		);
	}

	[Fact]
	public void OutputsBackLinkWithAdditionalClass()
	{
		// Arrange
		var id = "hello-world";
		var customClass = "custom-back";
		var component = Render(@<GdsBackLink Href="#" Id=@id Classes=@customClass></GdsBackLink>);

		// Assert that content of the paragraph shows counter at zero
		component.MarkupMatches(
			@<a id=@id href="#" class="govuk-back-link @customClass">
				Back
			</a>
	);
	}

	[Fact]
	public void OutputsBackLinkWithAdditionalAttributes()
	{
		// Arrange
		var id = "hello-world";
		var customAttributes = new Dictionary<string, object>
		{
			{"aria-label", "Hello"}
		};
		var component = Render(@<GdsBackLink Href="#" Id=@id Attributes=@customAttributes></GdsBackLink>);

		// Assert that content of the paragraph shows counter at zero
		component.MarkupMatches(
			@<a id=@id href="#" class="govuk-back-link" aria-label="Hello">
				Back
			</a>
		);
	}
	[Fact]
	public void OutputsBackLinkWithDarkBackground()
	{
		// Arrange
		var id = "hello-world";
		var component = Render(@<GdsBackLink Href="#" Id=@id IsOnDarkBackground=@true></GdsBackLink>);

		// Assert that content of the paragraph shows counter at zero
		component.MarkupMatches(
	@<a id=@id href="#" class="govuk-back-link govuk-back-link--inverse">
		Back
	</a>
		);
	}
}
