@inherits BunitContext

@code {
    [Fact]
    public void OutputsHint()
    {
        // Arrange
        var id = "hello-world";
        var message = "Hello World";
        var component = Render(@<CascadingValue Value=@id><GdsHint>@message</GdsHint></CascadingValue>);

        // Assert that content of the paragraph shows counter at zero
        component.MarkupMatches(
    @<div id="@id-hint" class="govuk-hint">
        @message
    </div>
        );
    }

    [Fact]
    public void OutputsHintWithAdditionalClass()
    {
        // Arrange
        var id = "hello-world";
        var message = "Hello World";
        var customClass = "custom-hint";
        var component = Render(@<CascadingValue Value=@id><GdsHint Classes=@customClass>@message</GdsHint></CascadingValue>);

        // Assert that content of the paragraph shows counter at zero
        component.MarkupMatches(
    @<div id="@id-hint" class="govuk-hint @customClass">
        @message
    </div>
    );
    }

    [Fact]
    public void OutputsHintWithAdditionalAttributes()
    {
        // Arrange
        var id = "hello-world";
        var message = "Hello World";
        var customAttributes = new Dictionary<string, object>
        {
            {"aria-label", "Hello"}
        };
        var component = Render(@<CascadingValue Value=@id><GdsHint Attributes=@customAttributes>@message</GdsHint></CascadingValue>);

        // Assert that content of the paragraph shows counter at zero
        component.MarkupMatches(
    @<div id="@id-hint" class="govuk-hint" aria-label="Hello">
        @message
    </div>
        );
    }
}
