@inherits BunitContext

@code {
    [Fact]
    public void OutputsPasswordInput()
    {
        // Arrange
        var component = Render(
    @<GdsPasswordInput DataTestId="GdsPasswordInput" Id="password-input" Name="password" InputDataTestId="InputTestId">
        <LabelTemplate>
            <GdsLabel>Password</GdsLabel>
        </LabelTemplate>
    </GdsPasswordInput>
        );

        component.MarkupMatches(
    @<div class="govuk-form-group govuk-password-input" data-module="govuk-password-input" data-testid="GdsPasswordInput">
        <label class="govuk-label" for="password-input">
            Password
        </label>
        <div class="govuk-input__wrapper govuk-password-input__wrapper">
            <input class="govuk-input govuk-password-input__input govuk-js-password-input-input" id="password-input" name="password" type="password" spellcheck="false" autocomplete="current-password" autocapitalize="none" data-testid="InputTestId" />
            <button type="button" class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle" data-module="govuk-button" aria-controls="password-input" aria-label="Show password" hidden>
                Show
            </button>
        </div>
    </div>
        );
    }

    [Fact]
    public void OutputsPasswordInputWithError()
    {
        // Arrange
        var component = Render(
    @<GdsPasswordInput Id="password-input-with-error-message" Name="password-input-with-error-message">
        <LabelTemplate>
            <GdsLabel>Password</GdsLabel>
        </LabelTemplate>
        <ErrorMessageTemplate>
            <GdsErrorMessage>Enter a password</GdsErrorMessage>
        </ErrorMessageTemplate>
    </GdsPasswordInput>
        );

        component.MarkupMatches(
    @<div class="govuk-form-group govuk-form-group--error govuk-password-input" data-module="govuk-password-input">
        <label class="govuk-label" for="password-input-with-error-message">
            Password
        </label>
        <p id="password-input-with-error-message-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a password
        </p>
        <div class="govuk-input__wrapper govuk-password-input__wrapper">
            <input class="govuk-input govuk-password-input__input govuk-js-password-input-input govuk-input--error" id="password-input-with-error-message" name="password-input-with-error-message" type="password" spellcheck="false" aria-describedby="password-input-with-error-message-error" autocomplete="current-password" autocapitalize="none">
            <button type="button" class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle" data-module="govuk-button" aria-controls="password-input-with-error-message" aria-label="Show password" hidden>
                Show
            </button>
        </div>
    </div>
        );
    }
}
