@inherits BunitContext

@code {
    [Fact]
    public void OutputsPanel()
    {
        // Arrange
        var component = Render(
    @<GdsPanel TitleText="Application complete">
        Your reference number<br><strong>HDJ2123F</strong>
    </GdsPanel>
    );

        component.MarkupMatches(
    @<div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            Application complete
        </h1>
        <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
        </div>
    </div>
        );
    }
}
