@inherits BunitContext

@code {
    [Fact]
    public void OutputsPagination()
    {
        // Arrange
        var component = Render(@<GdsPagination ActivePageNumber="2">
        <PreviousTemplate>
            <GdsPaginationPreviousLink />
        </PreviousTemplate>
        <ChildContent>
            <GdsPaginationLink Number="1" />
            <GdsPaginationLink Number="2" />
            <GdsPaginationLink Number="3" />
        </ChildContent>
        <NextTemplate>
            <GdsPaginationNextLink />
        </NextTemplate>
    </GdsPagination>);

        component.MarkupMatches(
    @<nav class="govuk-pagination" aria-label="Pagination">
        <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="govuk-pagination__link-title">
                    Previous<span class="govuk-visually-hidden"> page</span>
                </span>
            </a>
        </div>
        <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                    1
                </a>
            </li>
            <li class="govuk-pagination__item govuk-pagination__item--current">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                    2
                </a>
            </li>
            <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                    3
                </a>
            </li>
        </ul>
        <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                <span class="govuk-pagination__link-title">
                    Next<span class="govuk-visually-hidden"> page</span>
                </span>
                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
            </a>
        </div>
    </nav>
        );
    }

    [Fact]
    public void OutputsPaginationWithBlockStyle()
    {
        // Arrange
        var component = Render(@<GdsPagination UseBlockStyle=@true>
        <PreviousTemplate>
            <GdsPaginationPreviousLink LabelText="Applying for a provisional lorry or bus licence" />
        </PreviousTemplate>
        <NextTemplate>
            <GdsPaginationNextLink LabelText="Driver CPC part 1 test: theory" />
        </NextTemplate>
    </GdsPagination>);

        component.MarkupMatches(
    @<nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">
        <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="govuk-pagination__link-title">
                    Previous<span class="govuk-visually-hidden"> page</span>
                </span>
                <span class="govuk-visually-hidden">:</span>
                <span class="govuk-pagination__link-label">Applying for a provisional lorry or bus licence</span>
            </a>
        </div>
        <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="govuk-pagination__link-title">
                    Next<span class="govuk-visually-hidden"> page</span>
                </span>
                <span class="govuk-visually-hidden">:</span>
                <span class="govuk-pagination__link-label">Driver CPC part 1 test: theory</span>
            </a>
        </div>
    </nav>
        );
    }

    [Fact]
    public void OutputsPaginationWithLongList()
    {
        // Arrange
        var component = Render(@<GdsPagination ActivePageNumber="7">
        <PreviousTemplate>
            <GdsPaginationPreviousLink />
        </PreviousTemplate>
        <ChildContent>
            <GdsPaginationLink Number="1" />
            <GdsPaginationLink Number="2" />
            <GdsPaginationLink Number="3" />
            <GdsPaginationLink Number="4" />
            <GdsPaginationLink Number="5" />
            <GdsPaginationLink Number="6" />
            <GdsPaginationLink Number="7" />
            <GdsPaginationLink Number="8" />
            <GdsPaginationLink Number="9" />
            <GdsPaginationLink Number="10" />
            <GdsPaginationLink Number="11" />
            <GdsPaginationLink Number="12" />
            <GdsPaginationLink Number="13" />
            <GdsPaginationLink Number="14" />
            <GdsPaginationLink Number="15" />
            <GdsPaginationLink Number="16" />
            <GdsPaginationLink Number="17" />
            <GdsPaginationLink Number="18" />
            <GdsPaginationLink Number="19" />
            <GdsPaginationLink Number="20" />
            <GdsPaginationLink Number="21" />
            <GdsPaginationLink Number="22" />
            <GdsPaginationLink Number="23" />
            <GdsPaginationLink Number="24" />
        </ChildContent>
        <NextTemplate>
            <GdsPaginationNextLink />
        </NextTemplate>
    </GdsPagination>);

        component.MarkupMatches(
    @<nav class="govuk-pagination" aria-label="Pagination">
        <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="govuk-pagination__link-title">
                    Previous<span class="govuk-visually-hidden"> page</span>
                </span>
            </a>
        </div>
        <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                    1
                </a>
            </li>
            <li class="govuk-pagination__item govuk-pagination__item--ellipses">
                &ctdot;
            </li>
            <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 6">
                    6
                </a>
            </li>
            <li class="govuk-pagination__item govuk-pagination__item--current">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 7" aria-current="page">
                    7
                </a>
            </li>
            <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 8">
                    8
                </a>
            </li>
            <li class="govuk-pagination__item govuk-pagination__item--ellipses">
                &ctdot;
            </li>
            <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 24">
                    24
                </a>
            </li>
        </ul>
        <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                <span class="govuk-pagination__link-title">
                    Next<span class="govuk-visually-hidden"> page</span>
                </span>
                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
            </a>
        </div>
    </nav>
        );
    }

    [Fact]
    public void OutputsPaginationOnPage1()
    {
        // Arrange
        var component = Render(@<GdsPagination>
        <PreviousTemplate>
            <GdsPaginationPreviousLink />
        </PreviousTemplate>
        <ChildContent>
            <GdsPaginationLink Number="1" />
            <GdsPaginationLink Number="2" />
            <GdsPaginationLink Number="3" />
        </ChildContent>
        <NextTemplate>
            <GdsPaginationNextLink />
        </NextTemplate>
    </GdsPagination>);

        component.MarkupMatches(
    @<nav class="govuk-pagination" aria-label="Pagination">
        <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                    1
                </a>
            </li>
            <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
                    2
                </a>
            </li>
            <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                    3
                </a>
            </li>
        </ul>
        <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                <span class="govuk-pagination__link-title">
                    Next<span class="govuk-visually-hidden"> page</span>
                </span>
                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
            </a>
        </div>
    </nav>
        );
    }

    [Fact]
    public void OutputsPaginationOnLastPage()
    {
        // Arrange
        var component = Render(@<GdsPagination ActivePageNumber="3">
        <PreviousTemplate>
            <GdsPaginationPreviousLink />
        </PreviousTemplate>
        <ChildContent>
            <GdsPaginationLink Number="1" />
            <GdsPaginationLink Number="2" />
            <GdsPaginationLink Number="3" />
        </ChildContent>
        <NextTemplate>
            <GdsPaginationNextLink />
        </NextTemplate>
    </GdsPagination>);

        component.MarkupMatches(
    @<nav class="govuk-pagination" aria-label="Pagination">
        <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="govuk-pagination__link-title">
                    Previous<span class="govuk-visually-hidden"> page</span>
                </span>
            </a>
        </div>
        <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                    1
                </a>
            </li>
            <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
                    2
                </a>
            </li>
            <li class="govuk-pagination__item govuk-pagination__item--current">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3" aria-current="page">
                    3
                </a>
            </li>
        </ul>
    </nav>
        );
    }
}
