@inherits BunitContext

@code
{
    [Fact]
    public void OutputsSummaryList()
    {
        // Arrange
        var component = Render(
    @<GdsSummaryList>
        <GdsSummaryListRow>
            <KeyTemplate>
                Name
            </KeyTemplate>
            <ValueTemplate>
                Sarah Philips
            </ValueTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow>
            <KeyTemplate>
                Date of birth
            </KeyTemplate>
            <ValueTemplate>
                5 January 1978
            </ValueTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow>
            <KeyTemplate>
                Address
            </KeyTemplate>
            <ValueTemplate>
                72 Guild Street<br>London<br>SE23 6FH
            </ValueTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow>
            <KeyTemplate>
                Contact details
            </KeyTemplate>
            <ValueTemplate>
                <p class="govuk-body">07700 900457</p>
                <p class="govuk-body">sarah.phillips@example.com</p>
            </ValueTemplate>
        </GdsSummaryListRow>
    </GdsSummaryList>
        );

        component.MarkupMatches(
    @<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Name
        </dt>
        <dd class="govuk-summary-list__value">
            Sarah Philips
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
            5 January 1978
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Address
        </dt>
        <dd class="govuk-summary-list__value">
            72 Guild Street<br>London<br>SE23 6FH
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Contact details
        </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">07700 900457</p>
            <p class="govuk-body">sarah.phillips@example.com</p>
        </dd>
    </div>
</dl>
    );
    }

    [Fact]
    public void OutputsSummaryListWithItemActions()
    {
        // Arrange
        var component = Render(
    @<GdsSummaryList>
        <GdsSummaryListRow>
            <KeyTemplate>
                Name
            </KeyTemplate>
            <ValueTemplate>
                Sarah Philips
            </ValueTemplate>
            <ActionsTemplate>
                <GdsSummaryListRowAction Href="#" VisuallyHiddenText="name">Change</GdsSummaryListRowAction>
            </ActionsTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow>
            <KeyTemplate>
                Date of birth
            </KeyTemplate>
            <ValueTemplate>
                5 January 1978
            </ValueTemplate>
            <ActionsTemplate>
                <GdsSummaryListRowAction Href="#" VisuallyHiddenText="date of birth">Change</GdsSummaryListRowAction>
            </ActionsTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow>
            <KeyTemplate>
                Address
            </KeyTemplate>
            <ValueTemplate>
                72 Guild Street<br>London<br>SE23 6FH
            </ValueTemplate>
            <ActionsTemplate>
                <GdsSummaryListRowAction Href="#" VisuallyHiddenText="address">Change</GdsSummaryListRowAction>
            </ActionsTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow HasMultipleActions=@true>
            <KeyTemplate>
                Contact details
            </KeyTemplate>
            <ValueTemplate>
                <p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>
            </ValueTemplate>
            <ActionsTemplate>
                <GdsSummaryListRowAction Href="#" VisuallyHiddenText="contact details">Add</GdsSummaryListRowAction>
                <GdsSummaryListRowAction Href="#" VisuallyHiddenText="contact details">Change</GdsSummaryListRowAction>
            </ActionsTemplate>
        </GdsSummaryListRow>
    </GdsSummaryList>
    );

        component.MarkupMatches(
    @<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Name
        </dt>
        <dd class="govuk-summary-list__value">
            Sarah Philips
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
            5 January 1978
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Address
        </dt>
        <dd class="govuk-summary-list__value">
            72 Guild Street<br>London<br>SE23 6FH
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Contact details
        </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">07700 900457</p>
            <p class="govuk-body">sarah.phillips@example.com</p>
        </dd>
        <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> contact details</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </li>
            </ul>
        </dd>
    </div>
</dl>
    );
    }

    [Fact]
    public void OutputsSummaryListWithAndWithoutItemActions()
    {
        // Arrange
        var component = Render(
    @<GdsSummaryList>
        <GdsSummaryListRow>
            <KeyTemplate>
                Name
            </KeyTemplate>
            <ValueTemplate>
                Sarah Philips
            </ValueTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow>
            <KeyTemplate>
                Date of birth
            </KeyTemplate>
            <ValueTemplate>
                5 January 1978
            </ValueTemplate>
            <ActionsTemplate>
                <GdsSummaryListRowAction Href="#" VisuallyHiddenText="date of birth">Change</GdsSummaryListRowAction>
            </ActionsTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow>
            <KeyTemplate>
                Address
            </KeyTemplate>
            <ValueTemplate>
                72 Guild Street<br>London<br>SE23 6FH
            </ValueTemplate>
            <ActionsTemplate>
                <GdsSummaryListRowAction Href="#" VisuallyHiddenText="address">Change</GdsSummaryListRowAction>
            </ActionsTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow HasMultipleActions=@true>
            <KeyTemplate>
                Contact details
            </KeyTemplate>
            <ValueTemplate>
                <p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>
            </ValueTemplate>
            <ActionsTemplate>
                <GdsSummaryListRowAction Href="#" VisuallyHiddenText="contact details">Add</GdsSummaryListRowAction>
                <GdsSummaryListRowAction Href="#" VisuallyHiddenText="contact details">Change</GdsSummaryListRowAction>
            </ActionsTemplate>
        </GdsSummaryListRow>
    </GdsSummaryList>
    );

        component.MarkupMatches(
    @<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
            Name
        </dt>
        <dd class="govuk-summary-list__value">
            Sarah Philips
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
            5 January 1978
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Address
        </dt>
        <dd class="govuk-summary-list__value">
            72 Guild Street<br>London<br>SE23 6FH
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Contact details
        </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">07700 900457</p>
            <p class="govuk-body">sarah.phillips@example.com</p>
        </dd>
        <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="#">Add<span class="govuk-visually-hidden"> contact details</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </li>
            </ul>
        </dd>
    </div>
</dl>
    );
    }

    [Fact]
    public void OutputsSummaryListWithNoBorder()
    {
        // Arrange
        var component = Render(
    @<GdsSummaryList Classes=@SummaryListClasses.NoBorder>
        <GdsSummaryListRow>
            <KeyTemplate>
                Name
            </KeyTemplate>
            <ValueTemplate>
                Sarah Philips
            </ValueTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow>
            <KeyTemplate>
                Date of birth
            </KeyTemplate>
            <ValueTemplate>
                5 January 1978
            </ValueTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow>
            <KeyTemplate>
                Address
            </KeyTemplate>
            <ValueTemplate>
                72 Guild Street<br>London<br>SE23 6FH
            </ValueTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow>
            <KeyTemplate>
                Contact details
            </KeyTemplate>
            <ValueTemplate>
                <p class="govuk-body">07700 900457</p>
                <p class="govuk-body">sarah.phillips@example.com</p>
            </ValueTemplate>
        </GdsSummaryListRow>
    </GdsSummaryList>
    );

        component.MarkupMatches(
    @<dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Name
        </dt>
        <dd class="govuk-summary-list__value">
            Sarah Philips
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
            5 January 1978
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Address
        </dt>
        <dd class="govuk-summary-list__value">
            72 Guild Street<br>London<br>SE23 6FH
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Contact details
        </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">07700 900457</p>
            <p class="govuk-body">sarah.phillips@example.com</p>
        </dd>
    </div>
</dl>
    );
    }

    [Fact]
    public void OutputsSummaryListWithMissingInformation()
    {
        // Arrange
        var component = Render(
    @<GdsSummaryList>
        <GdsSummaryListRow>
            <KeyTemplate>
                Name
            </KeyTemplate>
            <ValueTemplate>
                Sarah Philips
            </ValueTemplate>
            <ActionsTemplate>
                <GdsSummaryListRowAction Href="#" VisuallyHiddenText="name">Change</GdsSummaryListRowAction>
            </ActionsTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow>
            <KeyTemplate>
                Date of birth
            </KeyTemplate>
            <ValueTemplate>
                5 January 1978
            </ValueTemplate>
            <ActionsTemplate>
                <GdsSummaryListRowAction Href="#" VisuallyHiddenText="date of birth">Change</GdsSummaryListRowAction>
            </ActionsTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow>
            <KeyTemplate>
                Contact information
            </KeyTemplate>
            <ValueTemplate>
                <a href="#" class="govuk-link">Enter contact information</a>
            </ValueTemplate>
        </GdsSummaryListRow>

        <GdsSummaryListRow>
            <KeyTemplate>
                Contact details
            </KeyTemplate>
            <ValueTemplate>
                <a href="#" class="govuk-link">Enter contact details</a>
            </ValueTemplate>
        </GdsSummaryListRow>
    </GdsSummaryList>
        );

        component.MarkupMatches(
    @<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Name
        </dt>
        <dd class="govuk-summary-list__value">
            Sarah Philips
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
            5 January 1978
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
        </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
            Contact information
        </dt>
        <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Enter contact information</a>
        </dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
            Contact details
        </dt>
        <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">Enter contact details</a>
        </dd>
    </div>
</dl>
    );
    }

    [Fact]
    public void OutputsSummaryCard()
    {
        // Arrange
        var component = Render(
    @<GdsSummaryList>
        <CardTitleTemplate>
            <GdsSummaryListCardTitle>Lead <b>tenant</b></GdsSummaryListCardTitle>
        </CardTitleTemplate>
        <ChildContent>
            <GdsSummaryListRow>
                <KeyTemplate>
                    Age
                </KeyTemplate>
                <ValueTemplate>
                    38
                </ValueTemplate>
                <ActionsTemplate>
                    <GdsSummaryListRowAction Href="#" VisuallyHiddenText="age">
                        Change
                    </GdsSummaryListRowAction>
                </ActionsTemplate>
            </GdsSummaryListRow>

            <GdsSummaryListRow>
                <KeyTemplate>
                    Nationality
                </KeyTemplate>
                <ValueTemplate>
                    UK national resident in UK
                </ValueTemplate>
                <ActionsTemplate>
                    <GdsSummaryListRowAction Href="#" VisuallyHiddenText="nationality">
                        Change
                    </GdsSummaryListRowAction>
                </ActionsTemplate>
            </GdsSummaryListRow>

            <GdsSummaryListRow>
                <KeyTemplate>
                    Working situation
                </KeyTemplate>
                <ValueTemplate>
                    Part time – less than 30 hours a week
                </ValueTemplate>
                <ActionsTemplate>
                    <GdsSummaryListRowAction Href="#" VisuallyHiddenText="working situation">
                        Change
                    </GdsSummaryListRowAction>
                </ActionsTemplate>
            </GdsSummaryListRow>
        </ChildContent>
    </GdsSummaryList>
    );

        component.MarkupMatches(
    @<div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
                Lead <b>tenant</b>
            </h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Age
                    </dt>
                    <dd class="govuk-summary-list__value">
                        38
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead <b>tenant</b>)</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Nationality
                    </dt>
                    <dd class="govuk-summary-list__value">
                        UK national resident in UK
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> nationality (Lead <b>tenant</b>)</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Working situation
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Part time – less than 30 hours a week
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead <b>tenant</b>)</span></a>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
        );
    }

    [Fact]
    public void OutputsSummaryCardWithActions()
    {
        // Arrange
        var component = Render(
    @<GdsSummaryList>
        <CardTitleTemplate>
            <GdsSummaryListCardTitle>University of Gloucestershire</GdsSummaryListCardTitle>
        </CardTitleTemplate>
        <CardActionsTemplate>
            <GdsSummaryListCardAction Href="#"
                                      VisuallyHiddenText="of University of Gloucestershire">
                Delete choice
            </GdsSummaryListCardAction>
            <GdsSummaryListCardAction Href="#"
                                      VisuallyHiddenText="from University of Gloucestershire">
                Withdraw
            </GdsSummaryListCardAction>
        </CardActionsTemplate>
        <ChildContent>
            <GdsSummaryListRow>
                <KeyTemplate>
                    Course
                </KeyTemplate>
                <ValueTemplate>
                    English (3DMD)<br>PGCE with QTS full time
                </ValueTemplate>
            </GdsSummaryListRow>

            <GdsSummaryListRow>
                <KeyTemplate>
                    Location
                </KeyTemplate>
                <ValueTemplate>
                    School name<br>Road, City, SW1 1AA
                </ValueTemplate>
            </GdsSummaryListRow>
        </ChildContent>
    </GdsSummaryList>
        );

        component.MarkupMatches(
    @<div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
                University of Gloucestershire
            </h2>
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    <a class="govuk-link" href="#">Delete choice<span class="govuk-visually-hidden"> of University of Gloucestershire (University of Gloucestershire)</span></a>
                </li>
                <li class="govuk-summary-card__action">
                    <a class="govuk-link" href="#">Withdraw<span class="govuk-visually-hidden"> from University of Gloucestershire (University of Gloucestershire)</span></a>
                </li>
            </ul>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Course
                    </dt>
                    <dd class="govuk-summary-list__value">
                        English (3DMD)<br>PGCE with QTS full time
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Location
                    </dt>
                    <dd class="govuk-summary-list__value">
                        School name<br>Road, City, SW1 1AA
                    </dd>
                </div>
            </dl>
        </div>
    </div>
        );
    }
}
