@inherits BunitContext

@code {
    [Fact]
    public void OutputsSkipLink()
    {
        // Arrange
        var component = Render(
    @<GdsSkipLink Href="#" DataTestId="GdsSkipLink">Skip to main content</GdsSkipLink>
    );

        component.MarkupMatches(
    @<a href="#" class="govuk-skip-link" data-module="govuk-skip-link" data-testid="GdsSkipLink">Skip to main content</a>
    );
    }
}