@inherits BunitContext

@code {
    [Fact]
    public void OutputsEmptyTable()
    {
        // Arrange, Act 
        var component = Render(@<GdsTable>            
            </GdsTable>
    );

        // Assert 
            component.MarkupMatches(
    @<table class="govuk-table">
        <tbody class="govuk-table__body"></tbody>
    </table>
            );
    }
}
