@inherits BunitContext

@code {
    [Fact]
    public void OutputsTable()
    {
        // Arrange, Act 
        var component = Render(@<GdsTable>            
            </GdsTable>
    );

        // Assert 
        component.MarkupMatches(@<table>
            </table>);
    }
}
