@inherits BunitContext

@code {
    [Fact]
    public void OutputsContent()
    {
        // Arrange, Act
        var content = "Some content";
        var classes = "class1 class2";
        var attributes = new Dictionary<string, object>
        {
            { "attr1", "value1" },
            { "attr2", "value2" },
        };
        
        var component = Render(
            @<GdsTabs>
                <GdsTabsPanel Id="hello" Label="some title" Classes="@classes" Attributes="@attributes">@content</GdsTabsPanel>
            </GdsTabs>
        );

        // Assert
        component.MarkupMatches(
            @<div class="govuk-tabs">
                <h2 diff:ignore></h2>
                <ul diff:ignore></ul>
                <div id="hello" class="govuk-tabs__panel @classes" role="tabpanel" aria-labelledby="tab_hello" attr1="value1" attr2="value2">
                    @content
                </div>
            </div>
        );
    }
}