@inherits BunitContext

@code {
    [Fact]
    public void OutputsWarningText()
    {
        // Arrange
        var component = Render(
    @<GdsWarningText IconFallbackText="Warning" DataTestId="GdsWarningText">
        You can be fined up to £5,000 if you do not register.
    </GdsWarningText>
        );

        component.MarkupMatches(
    @<div class="govuk-warning-text" data-testid="GdsWarningText">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            You can be fined up to £5,000 if you do not register.
        </strong>
    </div>
        );
    }
}
