@inherits BunitContext

@code {
    [Fact]
    public void WhenNoParametersSet_ThenOutputsMinimalSkipLink()
    {
        // Arrange
        var component = Render(
    @<GdsSkipLink>Skip to main content</GdsSkipLink>
        );

        component.MarkupMatches(
    @<a class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
        );
    }

    [Fact]
    public void WhenHrefSet_ThenOutputsSkipLink()
    {
        // Arrange
        var component = Render(
    @<GdsSkipLink Href="#some-content-link" DataTestId="GdsSkipLink">Skip to main content</GdsSkipLink>
    );

        component.MarkupMatches(
    @<a href="/#some-content-link" class="govuk-skip-link" data-module="govuk-skip-link" data-testid="GdsSkipLink">Skip to main content</a>
    );
    }

    [Fact]
    public void WhenClassesIsSet_ThenOutputsClasses()
    {
        // Arrange
        var component = Render(
    @<GdsSkipLink Href="#" Classes="class1 class2">Skip to main content</GdsSkipLink>
        );

        component.MarkupMatches(
    @<a href="/#" class="govuk-skip-link class1 class2" data-module="govuk-skip-link">Skip to main content</a>
        );
    }

    [Fact]
    public void WhenAttributesWithNODATAMODULESet_ThenOutputsAttributes()
    {
        // Arrange
        var attributes = new Dictionary<string, object>
            {
                { "aria-current", "portal" },
                { "target", "_self" }
            };

        var component = Render(
    @<GdsSkipLink Href="#" Attributes=@attributes>Skip to main content</GdsSkipLink>
        );

        component.MarkupMatches(
    @<a href="/#" class="govuk-skip-link" data-module="govuk-skip-link" aria-current="portal" target="_self">Skip to main content</a>
        );
    }


    [Fact]
    public void WhenAllParametersSet_ThenOutputsCompleteSkipLink()
    {
        var attributes = new Dictionary<string, object>
            {
                { "aria-current", "portal" },
                { "target", "_self" },
                { "data-module", "govuk-skip-link" }
            };

        // Arrange
        var component = Render(
	@<GdsSkipLink Href="#some-content-link" Attributes=@attributes Classes="class1 class2">Skip to main content</GdsSkipLink>
        );

        component.MarkupMatches(
	@<a href="/#some-content-link" class="govuk-skip-link class1 class2" data-module="govuk-skip-link" aria-current="portal" target="_self">Skip to main content</a>
    );
    }

}