@inherits BunitContext

@code {
    [Fact]
    public void WhenColspanIsSetTo1_ThenOutputsNoColspan()
    {
        // Arrange, Act
        var component = Render(
    @<GdsTable>
        <HeadTemplate>
            <GdsTableCell>Heading 1</GdsTableCell>
        </HeadTemplate>
        <RowsTemplate>
            <GdsTableRow>
                <GdsTableCell ColSpan="1">Row 1</GdsTableCell>
            </GdsTableRow>
            <GdsTableRow>
                <GdsTableCell>Row 2</GdsTableCell>
            </GdsTableRow>
        </RowsTemplate>
    </GdsTable>
        );

        // Assert
        component.MarkupMatches(
    @<table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Heading 1</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Row 1</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Row 2</td>
            </tr>
        </tbody>
    </table>
        );
    }

    [Fact]
    public void WhenRowspanIsSetTo1_ThenOutputsNoRowspan()
    {
        // Arrange, Act
        var component = Render(
    @<GdsTable>
        <HeadTemplate>
            <GdsTableCell>Heading 1</GdsTableCell>
        </HeadTemplate>
        <RowsTemplate>
            <GdsTableRow>
                <GdsTableCell RowSpan="1">Row 1</GdsTableCell>
            </GdsTableRow>
            <GdsTableRow>
                <GdsTableCell>Row 2</GdsTableCell>
            </GdsTableRow>
        </RowsTemplate>
    </GdsTable>
    );

        // Assert
        component.MarkupMatches(
    @<table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Heading 1</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Row 1</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Row 2</td>
            </tr>
        </tbody>
    </table>
        );
    }


    [Fact]
    public void WhenInitialisedEmptyGdsTable_ThenOutputsEmptyTableMarkup()
    {
        // Arrange, Act
        var component = Render(@<GdsTable>
    </GdsTable>
        );

        // Assert
        component.MarkupMatches(
    @<table class="govuk-table">
        <tbody class="govuk-table__body"></tbody>
    </table>
        );
    }

    [Fact]
    public void WhenInitialisedEmptyGdsTableWithEmptyHeadTemplate_OutputsEmptyTableWithEmptyHeaderRowMarkup()
    {
        // Arrange, Act
        var component = Render(@<GdsTable>
        <HeadTemplate></HeadTemplate>
    </GdsTable>
        );

        // Assert
        component.MarkupMatches(
    @<table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row"></tr>
        </thead>
        <tbody class="govuk-table__body"></tbody>
    </table>
        );
    }
}
