@inherits BunitContext

@code {
    [Fact]
    public void WhenMinimumRequiredParametersAreSet_ThenOutputsCollapsedButtonMenu()
    {
        // Arrange
        var component = Render(@<GdsButtonMenu MenuTitle="Menu title"></GdsButtonMenu>);

        component.MarkupMatches(
            @<div>
                <div class="moj-button-menu" data-module="moj-button-menu">
                    <button class="govuk-button moj-button-menu__toggle-button" type="submit" data-module="govuk-button" aria-haspopup="true" aria-expanded="false">
                        <span>
                            Menu title
                            <svg width="11" height="5" viewBox="0 0 11 5" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 0L11 5L0 5L5.5 0Z" fill="currentColor"></path>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        );
    }

    [Fact]
    public void WhenMenuItemsNotExpanded_ThenOutputsCollapsedButtonMenu()
    {
        // Arrange
        var component = Render(
            @<GdsButtonMenu MenuTitle="Menu title" DataTestId="GdsButtonMenu" MenuTitleButtonDataTestId="MenuTitleButton">
                <GdsButtonMenuItem>Menu item 1</GdsButtonMenuItem>
                <GdsButtonMenuItem>Menu item 2</GdsButtonMenuItem>
                <GdsButtonMenuItem>Menu item 3</GdsButtonMenuItem>
            </GdsButtonMenu>
        );

        component.MarkupMatches(
	@<div data-testid="GdsButtonMenu">
                <div class="moj-button-menu" data-module="moj-button-menu">
                    <button class="govuk-button moj-button-menu__toggle-button" type="submit" data-module="govuk-button" data-testid="MenuTitleButton" aria-haspopup="true" aria-expanded="false">
                        <span>
                            Menu title
                            <svg width="11" height="5" viewBox="0 0 11 5" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 0L11 5L0 5L5.5 0Z" fill="currentColor"></path>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        );
    }

    [Fact]
    public void WhenMenuTitleButtonClicked_ThenOutputsExpandedButtonMenu()
    {
        // Arrange
        var component = Render(
            @<GdsButtonMenu MenuTitle="Menu title" MenuTitleButtonDataTestId="MenuTitleButton">
                <GdsButtonMenuItem Href="#">Menu item 1</GdsButtonMenuItem>
                <GdsButtonMenuItem Href="#">Menu item 2</GdsButtonMenuItem>
                <GdsButtonMenuItem Href="#">Menu item 3</GdsButtonMenuItem>
            </GdsButtonMenu>
        );

        // Act 
        var button = component.Find("[data-testid=MenuTitleButton]");
        button.Click(new());

        // Assert
        component.MarkupMatches(
            @<div>
                <div class="moj-button-menu" data-module="moj-button-menu">
                    <button class="govuk-button moj-button-menu__toggle-button" type="submit" data-module="govuk-button" data-testid="MenuTitleButton" aria-haspopup="true" aria-expanded="true">
                        <span>
                            Menu title
                            <svg width="11" height="5" viewBox="0 0 11 5" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 0L11 5L0 5L5.5 0Z" fill="currentColor"></path>
                            </svg>
                        </span>
                    </button>
                    <ul role="list" class="moj-button-menu__wrapper">
                        <li>
                            <a class="govuk-button moj-button-menu__item" href="#" role="button" data-module="govuk-button" draggable="false">Menu item 1</a>
                        </li>
                        <li>
                            <a class="govuk-button moj-button-menu__item" href="#" role="button" data-module="govuk-button" draggable="false">Menu item 2</a>
                        </li>
                        <li>
                            <a class="govuk-button moj-button-menu__item" href="#" role="button" data-module="govuk-button" draggable="false">Menu item 3</a>
                        </li>
                    </ul>
		        </div>
            </div>
        );
    }

    [Fact]
    public void WhenRightAlignMenuIsSet_ThenOutputsButtonMenuInRightAlignedState()
    {
        // Arrange
        var component = Render(
            @<GdsButtonMenu MenuTitle="Menu title" MenuTitleButtonDataTestId="MenuTitleButton" RightAlignMenu>
                <GdsButtonMenuItem>Menu item 1</GdsButtonMenuItem>
                <GdsButtonMenuItem>Menu item 2</GdsButtonMenuItem>
                <GdsButtonMenuItem>Menu item 3</GdsButtonMenuItem>
            </GdsButtonMenu>
        );

        var button = component.Find("[data-testid=MenuTitleButton]");
        button.Click(new());

        // Act
        // Assert
        component.MarkupMatches(
            @<div class="button-menu-align--right">
                <div class="moj-button-menu" data-module="moj-button-menu">
                    <button class="govuk-button moj-button-menu__toggle-button" type="submit" data-module="govuk-button" data-testid="MenuTitleButton" aria-haspopup="true" aria-expanded="true">
                        <span>
                            Menu title
                            <svg width="11" height="5" viewBox="0 0 11 5" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 0L11 5L0 5L5.5 0Z" fill="currentColor"></path>
                            </svg>
                        </span>
                    </button>
                    <ul role="list" class="moj-button-menu__wrapper moj-button-menu__wrapper--right">
                        <li>
                            <button class="govuk-button moj-button-menu__item" type="submit" data-module="govuk-button">Menu item 1</button>
                        </li>
                        <li>
                            <button class="govuk-button moj-button-menu__item" type="submit" data-module="govuk-button">Menu item 2</button>
                        </li>
                        <li>
                            <button class="govuk-button moj-button-menu__item" type="submit" data-module="govuk-button">Menu item 3</button>
                        </li>
                    </ul>
                </div>
            </div>
        );
    }

    [Fact]
    public void WhenAttributesSet_ThenOutputsButtonMenuAttributes()
    {
        // Arrange
        var attributes = new Dictionary<string, object> { { "attribute1", "value" }, { "attribute2", "value" } };

         var component = Render(
            @<GdsButtonMenu MenuTitle="Menu title" Attributes=@attributes>
                <GdsButtonMenuItem>Menu item 1</GdsButtonMenuItem>
                <GdsButtonMenuItem>Menu item 2</GdsButtonMenuItem>
                <GdsButtonMenuItem>Menu item 3</GdsButtonMenuItem>
            </GdsButtonMenu>
        );

        // Act
        // Assert
        component.MarkupMatches(
            @<div>
                <div class="moj-button-menu" data-module="moj-button-menu" attribute1="value" attribute2="value">
                    <button class="govuk-button moj-button-menu__toggle-button" type="submit" data-module="govuk-button" aria-haspopup="true" aria-expanded="false">
                        <span>
                            Menu title
                            <svg width="11" height="5" viewBox="0 0 11 5" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 0L11 5L0 5L5.5 0Z" fill="currentColor"></path>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        );
    }

    [Fact]
    public void WhenButtonMenuItemDefaltsAreSet_ThenOutputsButtonsInDefaultState()
    {
        // Arrange
        var component = Render(
            @<GdsButtonMenu MenuTitle="Menu title" MenuTitleButtonDataTestId="MenuTitleButton">
                <GdsButtonMenuItem>Menu item 1</GdsButtonMenuItem>
                <GdsButtonMenuItem>Menu item 2</GdsButtonMenuItem>
                <GdsButtonMenuItem>Menu item 3</GdsButtonMenuItem>
            </GdsButtonMenu>
        );

        var button = component.Find("[data-testid=MenuTitleButton]");
        button.Click(new());

        // Act
        // Assert
        component.MarkupMatches(
            @<div>
                <div class="moj-button-menu" data-module="moj-button-menu">
                    <button class="govuk-button moj-button-menu__toggle-button" type="submit" data-module="govuk-button" data-testid="MenuTitleButton" aria-haspopup="true" aria-expanded="true">
                        <span>
                            Menu title
                            <svg width="11" height="5" viewBox="0 0 11 5" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 0L11 5L0 5L5.5 0Z" fill="currentColor"></path>
                            </svg>
                        </span>
                    </button>
                    <ul role="list" class="moj-button-menu__wrapper">
                        <li>
                            <button class="govuk-button moj-button-menu__item" type="submit" data-module="govuk-button">Menu item 1</button>
                        </li>
                        <li>
                            <button class="govuk-button moj-button-menu__item" type="submit" data-module="govuk-button">Menu item 2</button>
                        </li>
                        <li>
                            <button class="govuk-button moj-button-menu__item" type="submit" data-module="govuk-button">Menu item 3</button>
                        </li>
                    </ul>
                </div>
            </div>
        );
    }

    [Fact]
    public void WhenButtonMenuItemButtonTypesAreSet_ThenOutputsButtonsWithTypeSetToButton()
    {
        // Arrange
        var component = Render(
            @<GdsButtonMenu MenuTitle="Menu title" MenuTitleButtonDataTestId="MenuTitleButton">
                <GdsButtonMenuItem Type="button">Menu item 1</GdsButtonMenuItem>
		        <GdsButtonMenuItem Type="button">Menu item 2</GdsButtonMenuItem>
		        <GdsButtonMenuItem Type="button">Menu item 3</GdsButtonMenuItem>
            </GdsButtonMenu>
        );

        var button = component.Find("[data-testid=MenuTitleButton]");
        button.Click(new());

        // Act
        // Assert
        component.MarkupMatches(
            @<div>
                <div class="moj-button-menu" data-module="moj-button-menu">
                    <button class="govuk-button moj-button-menu__toggle-button" type="submit" data-module="govuk-button" data-testid="MenuTitleButton" aria-haspopup="true" aria-expanded="true">
                        <span>
                            Menu title
                            <svg width="11" height="5" viewBox="0 0 11 5" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 0L11 5L0 5L5.5 0Z" fill="currentColor"></path>
                            </svg>
                        </span>
                    </button>
                    <ul role="list" class="moj-button-menu__wrapper">
                        <li>
                            <button class="govuk-button moj-button-menu__item" type="button" data-module="govuk-button">Menu item 1</button>
                        </li>
                        <li>
                            <button class="govuk-button moj-button-menu__item" type="button" data-module="govuk-button">Menu item 2</button>
                        </li>
                        <li>
                            <button class="govuk-button moj-button-menu__item" type="button" data-module="govuk-button">Menu item 3</button>
                        </li>
                    </ul>
                </div>
            </div>
        );
    }

    [Fact]
    public void WhenButtonMenuItemHRefsAreSet_ThenOutputsButtonsAsHrefs()
    {
        // Arrange
        var component = Render(
            @<GdsButtonMenu MenuTitle="Menu title" MenuTitleButtonDataTestId="MenuTitleButton">
                <GdsButtonMenuItem Href="#link1">Menu item 1</GdsButtonMenuItem>
                <GdsButtonMenuItem Href="#link2">Menu item 2</GdsButtonMenuItem>
                <GdsButtonMenuItem Href="#link3">Menu item 3</GdsButtonMenuItem>
            </GdsButtonMenu>
        );

        var button = component.Find("[data-testid=MenuTitleButton]");
        button.Click(new());

        // Act
        // Assert
        component.MarkupMatches(
            @<div>
                <div class="moj-button-menu" data-module="moj-button-menu">
                    <button class="govuk-button moj-button-menu__toggle-button" type="submit" data-module="govuk-button" data-testid="MenuTitleButton" aria-haspopup="true" aria-expanded="true">
                        <span>
                            Menu title
                            <svg width="11" height="5" viewBox="0 0 11 5" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 0L11 5L0 5L5.5 0Z" fill="currentColor"></path>
                            </svg>
                        </span>
                    </button>
                    <ul role="list" class="moj-button-menu__wrapper">
                        <li>
                            <a class="govuk-button moj-button-menu__item" href="#link1" role="button" data-module="govuk-button" draggable="false">Menu item 1</a>
                        </li>
                        <li>
                            <a class="govuk-button moj-button-menu__item" href="#link2" role="button" data-module="govuk-button" draggable="false">Menu item 2</a>
                        </li>
                        <li>
                            <a class="govuk-button moj-button-menu__item" href="#link3" role="button" data-module="govuk-button" draggable="false">Menu item 3</a>
                        </li>
                    </ul>
                </div>
            </div>
        );
    }

    [Fact]
    public void WhenButtonMenuItemButtonClassesSet_ThenOutputsButtonsWithClasses()
    {
        // Arrange
        var someButtonClasses = $"{GdsButtonClasses.Secondary} another-class";

        var component = Render(
            @<GdsButtonMenu MenuTitle="Menu title" MenuTitleButtonDataTestId="MenuTitleButton">
                <GdsButtonMenuItem Classes=@someButtonClasses>Menu item 1</GdsButtonMenuItem>
                <GdsButtonMenuItem Classes=@someButtonClasses>Menu item 2</GdsButtonMenuItem>
                <GdsButtonMenuItem Classes=@someButtonClasses>Menu item 3</GdsButtonMenuItem>
            </GdsButtonMenu>
        );

        var button = component.Find("[data-testid=MenuTitleButton]");
        button.Click(new());

        // Act
        // Assert
        component.MarkupMatches(
            @<div>
                <div class="moj-button-menu" data-module="moj-button-menu">
                    <button class="govuk-button moj-button-menu__toggle-button" type="submit" data-module="govuk-button" data-testid="MenuTitleButton" aria-haspopup="true" aria-expanded="true">
                        <span>
                            Menu title
                            <svg width="11" height="5" viewBox="0 0 11 5" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 0L11 5L0 5L5.5 0Z" fill="currentColor"></path>
                            </svg>
                        </span>
                    </button>
                    <ul role="list" class="moj-button-menu__wrapper">
                        <li>
                            <button class="govuk-button moj-button-menu__item govuk-button--secondary another-class" type="submit" data-module="govuk-button">Menu item 1</button>
                        </li>
                        <li>
                            <button class="govuk-button moj-button-menu__item govuk-button--secondary another-class" type="submit" data-module="govuk-button">Menu item 2</button>
                        </li>
                        <li>
                            <button class="govuk-button moj-button-menu__item govuk-button--secondary another-class" type="submit" data-module="govuk-button">Menu item 3</button>
                        </li>
                    </ul>
                </div>
            </div>
    );
    }

    [Fact]
    public void WhenButtonMenuItemButtonAttributesSet_ThenOutputsButtonsWithAttributes()
    {
        // Arrange
        var itemAttributes1 = new Dictionary<string, object> { { "attribute1", "1" } };
        var itemAttributes2 = new Dictionary<string, object> { { "attribute1", "2" }, { "attribute2", "200" } };

        var component = Render(
            @<GdsButtonMenu MenuTitle="Menu title" MenuTitleButtonDataTestId="MenuTitleButton">
                <GdsButtonMenuItem Attributes=@itemAttributes1>Menu item 1</GdsButtonMenuItem>
                <GdsButtonMenuItem Attributes=@itemAttributes1>Menu item 2</GdsButtonMenuItem>
                <GdsButtonMenuItem Attributes=@itemAttributes2>Menu item 3</GdsButtonMenuItem>
            </GdsButtonMenu>
        );

        var button = component.Find("[data-testid=MenuTitleButton]");
        button.Click(new());

        // Act
        // Assert
        component.MarkupMatches(
            @<div>
                <div class="moj-button-menu" data-module="moj-button-menu">
                    <button class="govuk-button moj-button-menu__toggle-button" type="submit" data-module="govuk-button" data-testid="MenuTitleButton" aria-haspopup="true" aria-expanded="true">
                        <span>
                            Menu title
                            <svg width="11" height="5" viewBox="0 0 11 5" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 0L11 5L0 5L5.5 0Z" fill="currentColor"></path>
                            </svg>
                        </span>
                    </button>
                    <ul role="list" class="moj-button-menu__wrapper">
                        <li>
                            <button class="govuk-button moj-button-menu__item" type="submit" data-module="govuk-button" attribute1="1">Menu item 1</button>
                        </li>
                        <li>
					        <button class="govuk-button moj-button-menu__item" type="submit" data-module="govuk-button" attribute1="1">Menu item 2</button>
                        </li>
                        <li>
					        <button class="govuk-button moj-button-menu__item" type="submit" data-module="govuk-button" attribute1="2" attribute2="200">Menu item 3</button>
                        </li>
                    </ul>
                </div>
            </div>
        );
    }

    [Fact]
    public void WhenButtonMenuItemHRefsClassesSet_ThenOutputsButtonsHrefsWithClasses()
    {
        // Arrange
        
        var someButtonClasses = $"{GdsButtonClasses.Secondary} another-class";
        
        var component = Render(
            @<GdsButtonMenu MenuTitle="Menu title" MenuTitleButtonDataTestId="MenuTitleButton">
                <GdsButtonMenuItem Href="#link1" Classes=@someButtonClasses>Menu item 1</GdsButtonMenuItem>
                <GdsButtonMenuItem Href="#link2" Classes=@someButtonClasses>Menu item 2</GdsButtonMenuItem>
                <GdsButtonMenuItem Href="#link3" Classes=@someButtonClasses>Menu item 3</GdsButtonMenuItem>
            </GdsButtonMenu>
        );

        var button = component.Find("[data-testid=MenuTitleButton]");
        button.Click(new());

        // Act
        // Assert
        component.MarkupMatches(
            @<div>
                <div class="moj-button-menu" data-module="moj-button-menu">
                    <button class="govuk-button moj-button-menu__toggle-button" type="submit" data-module="govuk-button" data-testid="MenuTitleButton" aria-haspopup="true" aria-expanded="true">
                        <span>
                            Menu title
                            <svg width="11" height="5" viewBox="0 0 11 5" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 0L11 5L0 5L5.5 0Z" fill="currentColor"></path>
                            </svg>
                        </span>
                    </button>
                    <ul role="list" class="moj-button-menu__wrapper">
                        <li>
                            <a class="govuk-button moj-button-menu__item govuk-button--secondary another-class" href="#link1" role="button" data-module="govuk-button" draggable="false">Menu item 1</a>
                        </li>
                        <li>
                            <a class="govuk-button moj-button-menu__item govuk-button--secondary another-class" href="#link2" role="button" data-module="govuk-button" draggable="false">Menu item 2</a>
                        </li>
                        <li>
                            <a class="govuk-button moj-button-menu__item govuk-button--secondary another-class" href="#link3" role="button" data-module="govuk-button" draggable="false">Menu item 3</a>
                        </li>
                    </ul>
                </div>
            </div>
        );
    }

    [Fact]
    public void WhenMenuTitleButtonClassesIsSet_ThenOutputsClassesOnMenuTitleButton()
    {
        // Arrange
        var component = Render(
            @<GdsButtonMenu MenuTitle="Menu title" MenuTitleButtonDataTestId="MenuTitleButton" MenuTitleButtonClasses=@(GdsButtonClasses.Secondary + " other-class")>
                <GdsButtonMenuItem>Menu item 1</GdsButtonMenuItem>
                <GdsButtonMenuItem>Menu item 2</GdsButtonMenuItem>
                <GdsButtonMenuItem>Menu item 3</GdsButtonMenuItem>
            </GdsButtonMenu>
        );

        // Act
        // Assert
        component.MarkupMatches(
            @<div>
                <div class="moj-button-menu" data-module="moj-button-menu">
                    <button class="govuk-button moj-button-menu__toggle-button govuk-button--secondary other-class" type="submit" data-module="govuk-button" data-testid="MenuTitleButton" aria-haspopup="true" aria-expanded="false">
                        <span>
                            Menu title
                            <svg width="11" height="5" viewBox="0 0 11 5" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 0L11 5L0 5L5.5 0Z" fill="currentColor"></path>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        );
    }

    [Fact]
    public void WhenNoParametersSet_ThenThrowsException()
    {
        Assert.Throws<ArgumentNullException>(
        "MenuTitle",
        () => Render(
            @<GdsButtonMenu></GdsButtonMenu>
        ));
    }
}
