@inherits BunitContext

@code {

	[Fact]
	public void WhenHrefIsHyperlink_ThenOutputsAHyperlink()
	{
		// Arrange // Act
		var component = Render(
			@<AnchorLink Href="https://test-link.com/">An Anchor Link</AnchorLink>
		);

		// Assert
		component.MarkupMatches(
			@<a href="https://test-link.com/">An Anchor Link</a>
		);
	}

	[Fact]
	public void WhenHrefIsAnchor_ThenOutputsAnchorLink()
	{
		// Arrange // Act
		var component = Render(
			@<AnchorLink Href="#a-test-anchor">An Anchor Link</AnchorLink>
		);

		// Assert
		component.MarkupMatches(
			@<a href="#a-test-anchor">An Anchor Link</a>
		);
	}

	[Fact]
	public void WhenClassesIsSet_ThenOutputsAHyperlink_WithClasses()
	{
		// Arrange // Act
		var component = Render(
			@<AnchorLink Href="https://test-link.com/" Classes="class1 class2">An Anchor Link</AnchorLink>
		);

		// Assert
		component.MarkupMatches(
			@<a href="https://test-link.com/" class="class1 class2">An Anchor Link</a>
		);
	}

	[Fact]
	public void WhenAriaCurrentIsSet_ThenOutputsAHyperlink_WithAriaCurrentAttribute()
	{
		// Arrange // Act
		var component = Render(
			@<AnchorLink AriaCurrent="test" Href="https://test-link.com/" >An Anchor Link</AnchorLink>
		);

		// Assert
		component.MarkupMatches(
			@<a href="https://test-link.com/" aria-current="test">An Anchor Link</a>
		);
	}

	[Fact]
	public void WhenDataModuleIsSet_ThenOutputsAHyperlink_WithDataModuleAttribute()
	{
		// Arrange // Act
		var component = Render(
			@<AnchorLink Href="https://test-link.com/" DataModule="_test_data">An Anchor Link</AnchorLink>
		);

		// Assert
		component.MarkupMatches(
			@<a href="https://test-link.com/" data-module="_test_data">An Anchor Link</a>
		);
	}
}
